#Online,
#Offline {
/*    display: block;*/
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0px;
}
#Offline {
    background-color: red;
}
#Online {
    background-color: green;
    display: none;
}
#btn_New_Reminder {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#clock{
  align-items: center;
  -webkit-align-items: center;
  display: flex;
  display: -webkit-flex;
  height: 22%;
  justify-content: space-around;
  -webkit-justify-content: space-around;
/*  left: calc(20%);*/
/*  position: absolute;*/
  top: 5%;
/*  width: 110%;*/
}
.unit{
  background: linear-gradient(#aaa, #777);
  border-radius: 15%;
  box-shadow: 0 2px 2px #444;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  height: 100%;
/*  line-height: 130px;*/
/*  margin: 0 10px;*/
  text-align: center;
  text-shadow: 0 2px 2px #666;
  width: 35%;
}